<%- include('../partials/header') %> 
<%- include('../partials/navbar') %>

<main>
    <a href="/public/natas/1">OverTheWire Natas Levels 01-05</a>
    <br>
    <a href="/public/natas/2">OverTheWire Natas Levels 06-12</a>
    <br>
</main>
<%- include('../partials/footer') %>
